[2017-02-05 11:14] manparvesh opened #1 "Installation error in Windows"
Unable to install this in Windows. Error during installation of `pycrypto` in Windows.

[2017-05-05 09:45] manparvesh opened #2 "Logo"
I need to make a logo that shows a command prompt with the dude's face.

[2017-05-06 05:34] manparvesh opened #3 "Config directory location"
Add option to set the location of config directory

[2017-05-06 07:50] manparvesh commented on #2
Added in [this commit](https://github.com/dude-pa/dude/commit/8708f3937312aa5eb715ed3da52566ab0fa99e81). Closing for now. Will see if there are better options available

[2017-05-06 07:50] #2 closed

[2017-05-06 20:34] moyamanuel commented on #3
Hello, can I be assigned to this?

[2017-05-06 22:58] manparvesh commented on #3
@moyamanuel sure! Let me know if you face any problems

[2017-05-07 00:18] manparvesh opened #4 "Analysis of the current month's tasks"
What should happen?
-------------------
Analysis of the current month's tasks
- What percentage of them were completed
- How frequently the entries were made, etc

Any ideas on how to implement it?
---------------------------------
- Go through all the files in the diary folder (<config-folder>/diary/) with the name that matches the current month and year, and check the completed and incomplete ta

[2017-05-07 00:31] manparvesh opened #5 "Set goals and do analysis"
What should happen?
-------------------
- User should be able to set a target / goal (can set a date, or just weekly / monthly).
- One should be able to check their goal and their set dates for completion
- One should be able to set tags in their daily tasks added to the diary which automatically add the task to the goal (by using hashtags?)

Any ideas on how to implement it?
---------------------

[2017-05-07 03:25] manparvesh opened #6 "Error while showing accuracy before getting a word"
What are the steps to reproduce this issue?
-------------------------------------------
`dude vocabulary accuracy` before `dude vocabulary word`

What happens?
-------------
Error trace is shown

What were you expecting to happen?
----------------------------------
A simplified message should be shown

What versions of software are you using?
----------------------------------------
**Operating Sy

[2017-05-07 03:30] manparvesh opened #7 "Unable to load resources when in a different folder"
What are the steps to reproduce this issue?
-------------------------------------------
1. Install dude
2. move to a different folder in a terminal
3. run `dude vocabulary word`

What happens?
--------------------
It can't find the text file containing words and their meanings.

What were you expecting to happen?
----------------------------------
Should display a word

What versions of software a

[2017-05-07 03:31] #6 closed

[2017-05-07 04:36] manparvesh opened #8 "Online storage of configuration folder"
Feature description:
-------------------
User should be able to save their config somewhere online so that they can sync their data over different devices.

Any ideas on how to implement it?
---------------------------------
Possible solution can be creating a github repository and saving the data to it after the user enters a command.
I was able to initialize a repo inside the config file, stage

[2017-05-07 09:40] manparvesh opened #9 "Analyzing data before getting a new word"
Feature description:
-------------------
In the `vocabulary` module, a new word is chosen at random, but I want it to analyze the previous accuracy results of the words and get a word accordingly.

Any ideas on how to implement it?
---------------------------------
For example, we can set the weights for the words used, and sometimes words are chosen from there and sometimes new words are shown.

[2017-05-14 06:16] rishabh3 commented on #4
@manparvesh  I am new to opensource i would like to work on it please help me!

[2017-05-14 07:24] manparvesh commented on #4
Hi @rishabh3,
Thanks for your interest in the project. You can take a look at the [Contributing guidelines](https://github.com/dude-pa/dude/blob/master/.github/CONTRIBUTING.md). In case of any doubts, you can ask me here.

[2017-05-15 02:59] rishabh3 commented on #4
Hi,
I was able to set all the packages but dude is not working it shows all the
list of commands but when i run any command it says command not found!
Please help!

On Sun, May 14, 2017 at 12:54 PM, Man Parvesh Singh Randhawa <
notifications@github.com> wrote:

[2017-05-15 03:44] manparvesh commented on #4
How are you running a command? you need to prepend `dude` to your commands

[2017-05-15 11:50] rishabh3 commented on #4
Yeah i am prepending

On 15 May 2017 09:14, "Man Parvesh Singh Randhawa" <notifications@github.com>
wrote:

[2017-05-15 13:01] manparvesh commented on #4
Can you tell me your OS and the complete procedure you followed for this? I am not able to see anything like this in my system.

[2017-05-15 14:07] rishabh3 commented on #4
Ok so i am running ubuntu gnome 16.04
And i am using anaconda python 3.5
So i downloaded ur project unzipped it
Then i installed virtualenv and made virtual environment just as u had
mentioned.
Then i pip installed project in the environment.
And it downloaded all the dependencies for the project.
After successfully completing it when i run dude --help it gives all the
help commands and everything

[2017-05-15 15:52] manparvesh commented on #4
Oh I am using Python 2.7. Maybe that is the problem?
Or you can try installing python-dev, maybe that can work

[2017-05-15 15:53] manparvesh commented on #4
And regarding the vocabulary file not found, it is a bug. Referenced in #7

[2017-05-16 03:30] rishabh3 commented on #4
@manparvesh so now its working python 2.7 thanks for the help!

[2017-05-16 04:19] rishabh3 commented on #4
@manparvesh
So after successfully running ur code i saw these things
1) dude diary ct
For any task number greater than the index gave index out of bounds error.
2)also u have made a function for date
So what i have thought is to store date as a field in the task
This will help u to compare it with current month and seperate the current
month's task and after separating and storing it as list or so

[2017-05-16 04:40] manparvesh commented on #4
Yes, you are thinking correct! You are welcome to create a PR for this.
However for the index out of bounds error, I think you should create a new Issue and we should fix it there.

[2017-05-16 05:03] rishabh3 commented on #4
No i have already fixed it so if any one will give a wrong index then it continuously ask for a valid input

[2017-05-16 06:21] manparvesh commented on #4
I understand. I am asking you to create an Issue describing the bug and then a Pull request fixing that issue.

[2017-05-16 12:52] rishabh3 opened #10 "IndexOutOfBounds"
What are the steps to reproduce this issue?
-------------------------------------------
1. Run the command "dude diary ct".
2. When it asks for the task number enter any number which is greater than the task number in the given list.

What happens?
-------------
The program crashes and generate a very unpleasant error message stating index out of range.

What were you expecting to happen?
--------

[2017-05-16 12:56] rishabh3 commented on #4
@manparvesh can you help me what to do now? After working on this issue what should i do? I didnot understand what you meant by pull request.

[2017-05-16 13:00] rishabh3 commented on #4
like now i have completed it and want to put my code what should i do? please tell me the steps
First time so i have no idea about this

[2017-05-16 14:05] manparvesh commented on #4
@rishabh3 you have made the changes in your local machine. But you need to make the changes in the github repository as well.
- For that, you should first fork the project (third button at the top of every repository). When you do that, a copy of this repository will be made in your account.
- Then you should clone it and make the changes in the code.
- Add and commit the changes, and then push to

[2017-05-16 14:12] rishabh3 commented on #4
Thanks

On 16 May 2017 19:35, "Man Parvesh Singh Randhawa" <notifications@github.com>
wrote:

[2017-05-16 17:56] rishabh3 commented on #4
@manparvesh  I have made the corresponding changes and committed it u can take a look

[2017-05-17 03:38] manparvesh commented on #4
@rishabh3 there are bugs after merging your code. Please consider all possibilities next time
- you have written `date = entry['date']` 2 times, but there is no `'date'` key
- you are taking all the files when analyzing and it includes notes files as well, hence there are errors in running analyze command
- You should [write good commit messages](https://github.com/erlang/otp/wiki/Writing-good-com

[2017-05-17 03:45] #4 closed

[2017-05-17 04:28] rishabh3 commented on #4
@manparvesh i have made the changes mentioned by you

[2017-05-17 05:08] rishabh3 commented on #4
@manparvesh
I have made the changes for the bugs u have mentioned.

On 17 May 2017 09:15, "Man Parvesh Singh Randhawa" <notifications@github.com>
wrote:

[2017-05-17 06:27] manparvesh commented on #4
@rishabh3 The changes made in your repo can no longer be added to the PR, since the PR is already merged. I have fixed the bugs in your code, but please take care of these things next time.
Since your repo is not synced with the main repo, you can do so by taking a look [here](https://help.github.com/articles/syncing-a-fork/)

[2017-05-19 15:00] manparvesh commented on #10
@rishabh3 your repo is not synced with the main repo, you can do so by taking a look [here](https://help.github.com/articles/syncing-a-fork/).
The changes made in your repository are not added into a pull request. You need to create a new pull request every time you make some changes.
Since this issue is not resolved in the main repo, I am reopening it.
Please read about using Git and Github onlin

[2017-05-19 16:11] rishabh3 commented on #10
Oh K I will look through it

On 19 May 2017 20:30, "Man Parvesh Singh Randhawa" <notifications@github.com>
wrote:

[2017-05-26 11:47] vernwalrahul commented on #3
Hello, @manparvesh. I would like to work on this. Just for clarification, Can you be a bit more clear regarding the changes?

[2017-05-26 12:25] manparvesh commented on #3
@vernwalrahul thanks for your interest!
In dude, by default the location of config folder is [the home folder of the user](https://github.com/dude-pa/dude/blob/master/config.py#L7). It would be better to let the user modify the location for better usage, like if they want to keep their folder in dropbox or in a github repo

[2017-05-26 12:26] #10 closed

[2017-06-30 12:58] thee-engineer commented on #8
How about using GoogleDrive/iCloud or other cloud storage services? Give the user a choice.

[2017-07-04 11:13] manparvesh commented on #8
@thee-engineer yes, this is just an initial idea. It can obviously be expanded!

[2017-07-07 01:45] akhilPotla97 opened #14 ""modules" module is not being found"
*I am new to open source and have found this error when trying to run my local copy of "yoda". I am posting partly to see if there are mistakes in my running of this and also because I would be happy to work on this issue.

Reproduce the bug:
1. git clone https://github.com/yoda-pa/yoda
2. virtualenv venv
3. . venv/bin/activate
4. pip install .
5. yoda

============

The console outputs an error "

[2017-07-07 01:46] akhilPotla97 commented on #14
@manparvesh please take a look at this!

[2017-07-07 03:39] manparvesh commented on #14
Hi,
is there any error in the installation?

[2017-07-07 03:45] akhilPotla97 commented on #14
import click
import chalk
import sys
**_sys.path.insert(1, "/home/akhil/open_source/yoda")_**
from modules import *

I added the code that I bolded to "venv/local/lib/python2.7/site-packages/yoda.py" file. And when I ran the  "yoda" command I am getting a Usage Menu.

[2017-07-07 04:18] manparvesh commented on #14
Yes, this line fixes the issue. But instead of **"/home/akhil/open_source/yoda"**, it's better to use **os.getcwd()**. Since this is only a one-line fix, I am committing it myself, if you don't mind.

[2017-07-07 04:19] akhilPotla97 commented on #14
Cool.

[2017-07-07 04:24] #14 closed

[2017-07-07 04:35] akhilPotla97 commented on #9
I would like to take up this issue. Could you assign it to me?

[2017-07-07 04:37] manparvesh commented on #9
Sure! You can work on this 👍

[2017-07-07 05:09] #7 closed

[2017-07-21 15:44] mpskierbg commented on #3
Hello has anyone fixed this yet?

[2017-07-21 15:57] manparvesh commented on #3
@mpskierbg no

[2017-07-21 15:58] mpskierbg commented on #3
If you don't mind I would like to try and tackle this.

[2017-07-21 15:59] manparvesh commented on #3
Sure! You are welcome to work on it

[2017-07-21 16:01] mpskierbg commented on #3
Thanks. Ok to be clear you want the user to input the directory path and or Dropbox Google etc?

[2017-07-21 16:20] manparvesh commented on #3
Yes, I want that the user can use their own path to save the config files. For now, it would be better to just concentrate on the local paths, not online ones.

[2017-07-21 23:49] mpskierbg commented on #3
would you rather want the person to have to input the direct path or open a dialog box use a GUI to let the user select the path?

[2017-07-22 02:04] manparvesh commented on #3
Oh yeah, the GUI is a good idea. If it's possible, it would be great!

[2017-07-22 03:54] mpskierbg commented on #3
I am a beginner but I think i may have it. I have tried my damnedest to get forking and pull requests done and i have tried to follow your contributing instructions, but when i get to pip install --editable . Git bash states "Directory '.' is not installable. File 'setup.py' not found."  Can you help me?

[2017-07-22 05:02] manparvesh commented on #3
'.' is the current directory, so the setup.py file should be in the directory you are currently trying to run pip install. Maybe you are running pip outside the directory. You need to clone and move into the project directory, and then run pip install

[2017-07-22 06:06] mpskierbg commented on #3
Awesome thanks!

[2017-07-22 16:23] mpskierbg commented on #3
Sorry to bother you again, the previous answer helped out a lot, but I ran into another error:
`senko-miller@DESKTOP-6VA7DCG MINGW64 ~/yoda (master)
$ pip install --editable .
Obtaining file:///C:/Users/senko-miller/yoda
Collecting Click (from yoda==0.1.0)
  Using cached click-6.7-py2.py3-none-any.whl
Collecting pychalk (from yoda==0.1.0)
  Using cached pychalk-1.1.0.tar.gz
Collecting apiai (from

[2017-07-22 16:30] manparvesh commented on #3
Are you using Python 3?

[2017-07-22 16:33] manparvesh commented on #3
You need Python 2 for this. And I have worked on this project while using git bash on windows, so it should work.
Maybe [this link](https://stackoverflow.com/questions/35991403/python-pip-install-gives-command-python-setup-py-egg-info-failed-with-error-c) will work.

[2017-07-22 18:43] mpskierbg commented on #3
do you mind if i ask you a question outside of this project about python 2 and 3 and pip?

[2017-07-22 22:44] mpskierbg commented on #3
ok i am getting stuck at running yoda everything else is coming up roses but when i try and run yoda it says: bash: yoda: command not found.

[2017-07-23 07:22] manparvesh commented on #3
are you using a virtualenv?
You should create a virtualenv, activate it and then install. Then you'll be able to run it

[2017-08-01 18:02] manparvesh commented on #3
@azie-ginanjar no

[2017-08-01 22:42] azie-ginanjar commented on #3
can I assigned to this?

[2017-08-02 04:42] manparvesh commented on #3
@azie-ginanjar sure

[2017-08-15 04:13] nhatzHK commented on #3
Is this solved? What about a config file?

[2017-08-15 04:19] manparvesh commented on #3
@nhatzHK no one has submitted a PR related to this.

[2017-08-16 04:20] manparvesh opened #16 "Add tests"
Description:
-------------------
Add automated tests to the project. Currently, the Travis build simply runs pytest, but since there are no tests, it passes.

This task will take a considerable effort.

#### Checklist:
- [x] chat
- [x] dev
  - [x] speedtest
  - [x] url
- [x] diary
  - [x] notes
  - [x] tasks
    - [x] analysis
- [ ] learn
  - [x] vocabulary
  - [ ] flashcards
  - [x] define
- [ ]

[2017-08-17 15:28] Griffintaur commented on #9
we can use the sigmoid function $$  \frac{1}{1+e^{-x}} $$ where x is  the person's score
which can be computed by multiplying relative hardness of the word on the predefined scale and score allocated for getting it write i.e $$ x=\sum  {h* correct} $$

[2017-08-17 15:31] Griffintaur commented on #9
if it is still open I can take it up

[2017-08-17 15:44] manparvesh commented on #9
@Griffintaur thanks for your interest! Yes, this issue is still open so you can work on it.

Your suggestion sounds good to me. I am excited to see how you implement it!

There are a few things you should know though:
- The data set of the words doesn't have a predefined scale, so it updates the scale (with initial values all set to 0) every time a word is used.
- There are a few hit parade lists

[2017-09-11 18:08] MatkoUSKO opened #17 "yoda chat return html code (error)"
What are the steps to reproduce this issue?
-------------------------------------------
just type yoda chat how are you or something

What happens?
yoda answers just with html (error code).
here it is
Yoda speaks:
`<!DOCTYPE html>
	<html>
	  <head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>Application Error</title>
		<style media="scre

[2017-09-13 19:36] AngryNinja commented on #3
Is this still active?

[2017-09-14 02:52] moyamanuel commented on #3
Yes. I tried tackling the issue, though I had issues running virtualenv, and thus I am not able to start the program.

[2017-09-17 09:18] mpuk commented on #3
Hi. If this issue is still active and not assigned I would like to work on it.

[2017-09-17 09:47] manparvesh commented on #3
@mpuk no one has submitted a PR related to this, so you can work on it

[2017-09-17 18:24] mpuk commented on #3
@manparvesh So please assign it to me so I can keep track of it. Someone was mentioning here to use pop up window to choose where the file will be stored in computer and you agreed. But shouldn't this be cli app ? I think setting it via some option with argument like --config-file <path to file> will be more suitable than some pop up window. Your opinion ?

[2017-09-18 03:37] manparvesh commented on #3
@mpuk yes, it's supposed to be a CLI application, but when it comes to choosing a location, entering a complete path can be troublesome. We ca add both the options though.

[2017-09-18 12:55] nhatzHK commented on #3
I think a config file would be more appropriate for a CLI application. I tried to solve this, I think I ran into some errors and got bored. But if you get it running, maybe a json file is all that's needed.

[2017-09-28 03:35] manparvesh opened #19 "Add git module"
Feature description:
-------------------

- [ ] Save credentials to make it convenient for the user
- [ ] Know status of all the git repos (pretty display of git commits, I remember seeing a github repo for that)
- [ ] Agenda (show all the repos worked on in the past and suggest which ones should be worked on depending on code coverage etc) (creating a roadmap, basically)
- [ ] Push all (or someth

[2017-09-28 03:39] manparvesh opened #20 "Reading list"
Feature description:
-------------------
Feature to add a reading list, where the user can add articles, books, etc to their lists, and read whenever they want in the future.

[2017-09-28 03:42] manparvesh opened #21 "Idea list"
Feature description:
-------------------
An encrypted list where one can store their ideas, with descriptions. For more ideas that can be added to this list, one can take a look at [this repository](https://github.com/IdeaTrackerPlus/IdeaTrackerPlus).

[2017-09-28 06:25] himanshub16 commented on #3
Hi! @manparvesh. Loved **yoda**.
I've spent some time on this issue and have almost solved it. Just have to test if anything break. I would push the code and make PR by 1 Oct. :smiley:
Would you mind assigning this issue to me?

[2017-09-28 07:02] manparvesh commented on #3
Hi @himanshub16 that sounds great! I've sent you an invite so I'll assign this to you as soon as you accept it. Thanks for your interest!

[2017-09-28 13:16] systemplado commented on #20
Could this be added to ```module:diary``` instead? I wanted to help but I think creating a new module is quite confusing for me. If it cannot be, I'll try my best to do a new module. 😁

[2017-09-28 13:57] manparvesh commented on #20
@systemplado if you don't feel much confident in making a new module, you can work on a different module for now, and when this module is made, you can get back to this. :smile:

[2017-09-28 15:29] systemplado commented on #20
Okay, I'm up to the challenge to write a module.

I'm planning to do the following:
* Follow how the diary module works
* It should have the following commands
  * ```rlist```: shows the reading list
  * ```ra```: adds something to the list
  * ```ro```: opens an article using ```xdg-open``` or maybe something more portable
* A reading list should have
  * A title
  * An author
  * Type/kind (book

[2017-09-28 21:49] matheuscr30 commented on #19
Can i do the topic of save credentials for the user?

[2017-09-29 01:29] manparvesh commented on #19
@matheuscr30 sure

[2017-10-01 14:30] ujjaldas1997 commented on #17
@MatkoUSKO, I think your internet connectivity is weak, or disconnected. I got the same error and after checking connectivity, this error goes off.

[2017-10-04 15:47] yuxuwu opened #26 "Travis build checker failing .travis.yml"
I'm not entirely sure about this, but it seems like my pull requests are failing because Travis fails when attempting to run the "py.test" command to check for passing builds.
Might removing the script phase, or adding in a temporary testing file solve the issue?
![0072baac95c63e6a34b74d5b9ce2fd50](https://user-images.githubusercontent.com/22068412/31185383-c85d5f58-a8f9-11e7-97e0-17e53533c1a5.png

[2017-10-04 20:23] yuxuwu commented on #26
Okay, so apparently pytest was just being executed incorrectly, changing "script: py.test" to "script: pytest" in .travis.yml should fix the problem.

[2017-10-04 20:32] yuxuwu commented on #26
Just to add, the Travis build will fail if no test cases are run, returning exit code 5.

[2017-10-05 05:17] sachet-mittal opened #27 "Make the code pep8/pyflakes compliant"
Feature description:
-------------------
It would be better if code be pep8/pyflakes compliant

Any ideas on how to implement it?
---------------------------------
either run autopep8 on the code or manually fix the errors.

Any other comments?
-------------------
I would like to take this up.

Any feedback on the project?
-------------------
The project looks cool.

[2017-10-05 10:38] manparvesh opened #28 "Unable to run after setup"
What are the steps to reproduce this issue?
-------------------------------------------
1. Install `yoda` according to the steps mentioned in README (without using --editable while installing)

What happens?
-------------
[code]

What were you expecting to happen?
----------------------------------
Should work properly

What versions of software are you using?
-------------------------------------

[2017-10-05 10:38] manparvesh commented on #27
@sachet-mittal sure

[2017-10-05 10:40] manparvesh commented on #26
@yuxuwu This is already on the roadmap(#16), so I am closing this issue.

[2017-10-05 10:40] #26 closed

[2017-10-05 10:42] manparvesh commented on #28
This is probably related to #7

[2017-10-05 10:44] manparvesh commented on #28
We need to know how to save the files in the resources folder can be saved to the folder where this package is installed. In this case, `<location>/yoda/venv/local/lib/python2.7/site-packages/`

[2017-10-05 11:01] manparvesh commented on #17
@MatkoUSKO @ujjaldas1997 there is some issue with the Mashape key while using the `Yoda speaks API`. I am removing that part for now. Will return a simple response.

[2017-10-05 11:09] #17 closed

[2017-10-05 11:17] manparvesh opened #30 "Weird text in yoda setup"
What are the steps to reproduce this issue?
-------------------------------------------
1. `yoda setup`

What happens?
-------------
[code]
What were you expecting to happen?
----------------------------------
sensible text

What versions of software are you using?
----------------------------------------
**Operating System:** Ubuntu 16.04

[2017-10-05 11:22] #30 closed

[2017-10-05 12:02] raghav710 commented on #5
Can i submit an initial working version for this with the following features?
* Set a goal and date
* View goal and specified completion dates in chronological order

[2017-10-05 13:19] eyalhei commented on #28
Not sure how this works, But I like to give it a try

[2017-10-06 01:29] manparvesh commented on #28
fixed in #32

[2017-10-06 01:29] #28 closed

[2017-10-06 05:32] sachet-mittal commented on #27
@manparvesh Submitted the pull request: https://github.com/yoda-pa/yoda/pull/35

But tests are failing. It seems https://github.com/yoda-pa/yoda/pull/34 needs to be merged first.

[2017-10-06 06:18] manparvesh commented on #16
For now, #36 fixes the failing travis build. I replaces `pytest` with `python setup.py test`, and it checks if the setup builds properly.
We can use `pytest` in the future when the tests are written properly

[2017-10-06 06:29] manparvesh commented on #27
Hi @sachet-mittal this looks good to me, but there have been some changes in the project recently. Can you please run autopep8 again and submit a different pull request? I closed #35 for now.

[2017-10-06 07:19] manparvesh commented on #5
@raghav710 sure

[2017-10-06 10:51] sachet-mittal commented on #27
@manparvesh Yeah Sure I can do that. But a query:
For this do i need to fork again?

[2017-10-06 16:52] manparvesh commented on #27
@sachet-mittal  yeah I think so. Maybe you can update your fork. Google will have better answers

[2017-10-07 03:14] systemplado commented on #16
I'm interested in adding some tests. We can use the official testing [provided by Click](http://click.pocoo.org/5/testing/). Should we place the tests inside the modules or a separate directory?

[2017-10-08 05:46] manparvesh commented on #16
@systemplado that's cool! :smile: We should use that. We should place the tests in a different directory, since it's not a module.

[2017-10-08 05:54] #20 closed

[2017-10-09 15:42] saurabh-kumar-vit opened #39 "Error message when trying to use yoda chat when system is offline"
If I try to use the ```yoda chat``` feature when my system is offline, it hits me with a big python error message about socket error
```socket.gaierror: [Errno -2] Name or service not known```

What are the steps to reproduce this issue?
-------------------------------------------
1. Go offline
2. Try any of the yoda chat commands

What happens?
-------------
There is no error checking at ```respo

[2017-10-10 06:56] shubhras01 commented on #27
Is this issue solved ?

[2017-10-10 07:41] sachet-mittal commented on #27
I am working on it.
Didn't get time to resolve the last comment for the last couple of days.

On Tue, Oct 10, 2017 at 12:26 PM, Shubhra Srivastava <
notifications@github.com> wrote:

[2017-10-10 09:25] ujjaldas1997 commented on #21
Hello @manparvesh ,
I had a quick look at the [app](https://play.google.com/store/apps/details?id=appbox.gameideas), and like to add idea list, which will be of basic operations I have thought to add with encryption
1. add
2. remove
3. show

Can you assign this issue to me?

[2017-10-10 11:01] manparvesh opened #41 "View previous day or week's notes"
Feature description:
-------------------
Add functionality to view notes from previous days by simply writing `yoda diary notes yesterday` or something similar

[2017-10-10 11:03] manparvesh opened #42 "Search notes"
Feature description:
-------------------
Functionality to search in previous notes (using something like fuzzy search, maybe?)

[2017-10-10 11:04] manparvesh commented on #39
@saurabh-kumar-vit nice catch! Sure, you are welcome to contribute! :smile:

[2017-10-10 11:05] manparvesh commented on #21
@ujjaldas1997 sure you can start working on this and send me a PR

[2017-10-11 07:17] saurabh-kumar-vit commented on #39
I have pushed a PR please review it.

[2017-10-11 07:52] saurabh-kumar-vit commented on #41
I would like to take up this task.

[2017-10-11 08:06] saurabh-kumar-vit commented on #41
To complete this task I think I might have to add a new command to ```check_sub_command``` in ```diary.py```.

But all the other commands are only one world, while this includes the term for the history as well, so it might be more reasonable to parse it in the ```notes``` functions. But I am unable to understand how I would be able to get the history term in the ```notes``` function.

As in the `

[2017-10-11 08:47] #39 closed

[2017-10-11 08:48] manparvesh commented on #41
@saurabh-kumar-vit :+1: sure

[2017-10-11 11:56] qcn commented on #42
I'd be happy to play with this

[2017-10-11 18:02] saurabh-kumar-vit opened #44 "Error handling for dev module"
Similar to #39 the dev module also makes requests to several API calls in its commands. None of these have error handling around the API call.

In this issue I would like to fix all of them by adding error handling and simple user friendly response in case the user is offline.

[2017-10-12 06:46] manparvesh commented on #44
Merged, so closing this issue

[2017-10-12 06:46] #44 closed

[2017-10-12 06:47] manparvesh commented on #42
@qcn sure!

[2017-10-13 12:30] saurabh-kumar-vit commented on #41
@manparvesh I am unable to understand where to parse the new argument for notes history.

should it be done in
1. yoda module where collect the command line arguments
2. Or in the diary module. should we make ```notes``` a separate function like the url shorten function.

to me the second option looks the easiest since it can be implemented without breaking any of the existing diary code. But I wa

[2017-10-14 01:45] d-grossman commented on #27
sound like you really want a pep8 precommit hook

[2017-10-28 12:04] manparvesh commented on #21
@ujjaldas1997 since you have written the basic implementation of this, if possible, please also write the documentation for the functions (just one line description is sufficient) and send me a PR if you have time. Thanks!

[2017-10-31 10:25] manparvesh opened #51 "Notes with titles"
Feature description:
-------------------
Option to add a note which is kind of an article, with title and content, and the user can add notes to it.

[2017-11-01 09:49] manparvesh opened #52 "Yoda not running"
What happens?
-------------
 - Install and write `yoda`
- output:
[code]

[2017-11-01 10:54] #52 closed

[2017-11-10 10:24] manparvesh opened #53 "Idea list not able to create project"
What are the steps to reproduce this issue?
-------------------------------------------
1. install `yoda`
2. try to create an idea

What happens?
-------------
[code]

[2017-11-10 13:57] ujjaldas1997 commented on #53
@manparvesh , thanks for the bug.
I had tried to reproduce the error that you faced. One of the possible reason could be the missing directory in any of the `"/home/mp/.yoda/life/"`
I had tried to change the `"IDEA_CONFIG_FILE_PATH"` little bit to `os.path.join(config_path_prefix, 'life/some_demo/ideaconfig.txt')` instead of `os.path.join(config_path_prefix, 'life/ideaconfig.txt')` and reproduced

[2017-11-11 04:26] manparvesh commented on #53
@ujjaldas1997 thanks for clearing it up! I understand now. This works fine

[2017-11-13 14:25] Dheeraj1998 commented on #51
Hey! I would love to work on this. Some help on getting started and I will do it 😄

[2017-11-14 22:50] manparvesh commented on #51
@Dheeraj1998 thanks for your interest! :smile: Just go through the code, you can let me know if you don't understand something.

[2017-11-25 19:37] jahenkor commented on #51
Is this issue still up for grabs? I'd love to work on this issue if this is the case.

[2017-11-26 01:21] manparvesh commented on #51
@jahenkor yes, it's still unresolved! thanks for your interest!

[2017-11-26 01:49] manparvesh opened #54 "Build failing due to idea list"
Details
---------
1. Check build [#151](https://travis-ci.org/yoda-pa/yoda/builds/307327288)

Any ideas on how to fix it?
---------------------------------
- In the implementation of idea list, the cypher key is being taken from userconfig, which is not created by default in the beginning.
- Maybe adding a different cypher key to the idea list will help

[2017-11-26 02:23] manparvesh commented on #16
As suggested by @systemplado, I have started writing tests for `yoda` using `click.testing`. If someone is interested to contribute, they can take a look at the sample test file that I have written: [test_speedtest.py](https://github.com/yoda-pa/yoda/blob/b5ecb458cd8c961e5dd388b0607359a470e5b165/tests/dev/test_speedtest.py)

[2017-11-26 02:24] #27 closed

[2017-11-26 02:49] #21 closed

[2017-11-26 02:50] manparvesh commented on #3
Since this is developed, I'm closing the issue. Thanks to everyone for taking their time to contribute!

[2017-11-26 02:50] #3 closed

[2017-11-26 03:14] manparvesh opened #55 "Add test coverage"

[2017-11-26 03:37] #55 closed

[2017-12-10 11:13] BrianMwangi21 opened #58 "I'm trying to run this on Windows and I think i'm missing something"
I have forked and cloned the project locally.
I have also installed all the packages needed and created the virtual environment.
But when I run `$ yoda` using GitBASH or GitCMD, it doesn't run.
I'm I missing something ?

![untitled](https://user-images.githubusercontent.com/14116447/33804368-4bda246c-ddb4-11e7-8865-3d4076f5d6e2.jpg)

[2017-12-10 11:24] manparvesh commented on #58
can you please post the error message here?

[2017-12-10 12:45] manparvesh commented on #58
@BrianMwangi21 you need to run `pip install --editable .` after running starting the `virtualenv`

[2017-12-10 13:57] BrianMwangi21 commented on #58
Still did not work

![untitled](https://user-images.githubusercontent.com/14116447/33805507-24b193ae-ddcb-11e7-8457-9b6ddcfa39a3.jpg)

[2017-12-10 15:10] manparvesh commented on #58
Probably because you're using Python 3.5. You need 2.7 for this

[2017-12-10 15:26] BrianMwangi21 commented on #58
so i do have to change?

[2017-12-11 01:05] manparvesh commented on #58
yes

[2017-12-11 15:01] #58 closed

[2017-12-11 15:43] raghukokku commented on #51
Hey Man Parvesh,
I am new to this part of the open source world. I am willing to contribute in this effort. Could you please tell me how to proceed with this issue.

[2017-12-11 23:52] manparvesh commented on #51
Hi @raghukokku , thanks for your interest. You can take a look at the [contributing guidelines](https://github.com/yoda-pa/yoda/blob/master/.github/CONTRIBUTING.md)

[2017-12-12 13:49] raghukokku commented on #51
I looked at the contributing guidelines and tried to setup. Looks like i need access to the project to clone.

[2017-12-12 14:34] manparvesh commented on #51
@raghukokku no, you don't. Since you have already cloned the repo, just git clone your repo instead of the original one. In your case, do:
[code]

[2017-12-12 15:52] raghukokku commented on #51
Got it. Thank you.

[2017-12-13 04:27] manparvesh opened #60 "Keyboard shortcuts"
Feature description:
-------------------
There should be a feature to get and search keybindings for different software packages and tools, like `eclipse`, `vim`, etc.

- The user should be allowed to add more lists
- They can search for keybindings in a list
- [big] use natural language queries to understand and reply appropriate key-binding for the query
- [todo] divide this into smaller tasks

[2017-12-13 04:31] manparvesh opened #61 "Use locally built NLP model"
Feature description:
-------------------
Instead of using an external service (api.ai), we can make our own models specific to our needs.
This can be used in:
- `money`
- `chat`
- `keybindings` (not yet implemented)

Any ideas on how to implement it?
---------------------------------
Not yet

[2017-12-14 01:37] whitebarry opened #62 "ImportError: No module named config"
I forked, cloned, and followed the steps of making the venv and installing requirements with pip. There were no errors reported during the installation of requirements. When I run yoda I get an ImportError stating that there is no config module. I had to copy config.py(c) from the project root into the `site-packages\modules` folder. I then had the same issue with util.py(c). After that I was able

[2017-12-14 03:18] rkokku commented on #51
i followed the instructions and did the setup but the last step failed. When i keyed in yoda, i get command not found.Did i miss anything?

[2017-12-14 03:25] manparvesh commented on #51
@rkokku can you post the error message here?

[2017-12-14 03:32] rkokku commented on #51
Raghus-MacBook-Pro:projects rkokku$ ls
venv	yoda
Raghus-MacBook-Pro:projects rkokku$ cd yoda
Raghus-MacBook-Pro:yoda rkokku$ ls
CODE_OF_CONDUCT.md	README.md		config.py		modules			resources		tests			yoda.egg-info
LICENSE			TODO.md			logo.png		requirements.txt	setup.py		util.py			yoda.py
Raghus-MacBook-Pro:yoda rkokku$ yoda
-bash: yoda: command not found
Raghus-MacBook-Pro:yoda rkokku$

[2017-12-14 03:36] manparvesh commented on #51
@rkokku no not this one. The error you got while installing

[2017-12-14 03:50] rkokku commented on #51
checking for gcc... gcc
    checking whether the C compiler works... no
    configure: error: in `/private/var/folders/q0/fd931jps1dj3f9wgqzzf_66m0000gn/T/pip-build-1BZzdP/pycrypto':
    configure: error: C compiler cannot create executables
    See `config.log' for more details
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/private/var/folders/q0/fd

[2017-12-14 06:01] manparvesh commented on #51
@rkokku I think you need `python-devel` package for OSX. Please take a look at [this link](https://stackoverflow.com/a/32578175)

[2017-12-14 13:32] raghukokku commented on #51
Thank You. Will take a look.

[2017-12-15 03:23] rkokku commented on #51
Works now. Thank You. Looks like i had two versions of python 2.7 and 3.6.3 that was causing the issue. I ran the command

brew uninstall python to uninstall python.

and then ran the commands needed for setup and the setup ran successfully.

[2017-12-19 03:58] rkokku commented on #51
I went through the code and ran some commands to get a feel of the tool. Below is my understanding of this feature.
1) This feature should provide the ability to add notes for example the command would be "yoda notes"
2) The user will be typing in the content with the title.

I have some questions on this feature.

1) What is the main purpose of this feature? Once user adds notes, will he publish

[2017-12-25 07:28] Lightyagami1 opened #64 "yoda inspire"
Feature description:
showing quote to the user which will be inspirational

Any ideas on how to implement it?
using https://forismatic.com/en/api/

[2017-12-28 03:33] rkokku commented on #51
After going through the diary module, i came up with the below code snippet. Is this what you are looking for.

def article():
        """
        new article
        """
        chalk.red('Input the title')
        title=raw_input().strip()
        chalk.blue('Input the content')
        content = new_note()

[2017-12-29 07:26] Nisha-Kapoor commented on #64
@Lightyagami1 I would like to work on this task

[2017-12-29 07:27] Nisha-Kapoor commented on #64
Is the quote based on some input provided by the user?

[2017-12-29 12:27] Lightyagami1 commented on #64
@Nisha-Kapoor you can definitely do it.
I was thinking of having one quote for a day, storing it once it has been fetched rather calling API again. For next day this will be discarded and then a new quote will be fetched and stored in its place.
About type of quote, in my plan I was thinking to have a single command such as "yoga inspireme" and this will fetch some quote related better lifestyle o

[2018-01-07 06:45] adityajoshi opened #65 "Not able to install yoda"
I have forked this project and cloned on my machine.
I have created python 2.7 virtual env using anaconda.
But when I try to install yoda using "**pip install .**" command.
It fails for pychalk library
Am I doing something wrong ?

![yoda_install_1](https://user-images.githubusercontent.com/3487975/34647262-393e15d8-f3a4-11e7-85cd-e63c5a1c153c.png)

![yoda_install_2](https://user-images.githubuser

[2018-01-07 06:55] adityajoshi commented on #65
Issue resolved. Created new virtualenv without anaconda.
Looks like pychalk does not work with anaconda virtualenv.

[2018-01-07 06:55] #65 closed

[2018-01-11 02:02] manparvesh opened #66 "Remove secret keys from code"
keys to remove:
- [x] API_AI
- [x] Google URL shortner

[2018-01-20 21:28] hemangandhi commented on #1
I'm getting this on Ubuntu... how did you fix it?

[2018-01-21 06:22] manparvesh commented on #1
@hemangandhi take a look at the installation instructions again.
- `python-dev` package (if using Ubuntu or Windows Subsystem for Linux)
- `Visual C++ 9.0 for Python` (If using Windows)

[2018-01-28 10:06] manparvesh opened #71 "Improve tests"
## Description:
The existing tests are okay, but not very thorough. Some of the parts of the modules still lack tests.

#### Checklist:
- [ ] learn
  - [ ] flashcards
- [ ] life
  - [ ] reading list
  - [ ] ideas
- [ ] setup

**Related to:** #16

[2018-01-28 10:10] manparvesh commented on #16
I think it is okay to believe that the test coverage is fine for the project. However, I think it still needs improvement, so this will be continued in #71  and I will close this issue

[2018-01-28 10:10] #16 closed

[2018-01-28 10:18] #66 closed

[2018-01-28 10:27] manparvesh opened #72 "Update version and release"

[2018-01-28 10:29] #72 closed

[2018-02-02 19:51] drugones commented on #62
Same issue here on osx.

[2018-02-04 22:16] JonSn0w commented on #62
I'm also having this issue on macOS 10.12

[2018-02-05 10:33] SillySam commented on #62
Couldn't the "config" library just be added to the `requirements.txt` so that when users initially run `pip install -r requirements.txt` that It would download this missing package?
I haven't properly looked at the project, just stumbled across this issue, so I apologize If my suggestion is wrong.

[2018-02-05 13:08] manparvesh commented on #62
@SillySam `config.py` is actually a file in the root folder of this project, so what you're suggesting is infeasible. I'll investigate the cause.

[2018-02-05 13:52] manparvesh commented on #62
@whitebarry @drugones @JonSn0w @SillySam
Thanks for reporting the issue and for the suggestions. I have fixed the issue, so I will close this issue

[2018-02-05 13:52] #62 closed

[2018-02-13 16:32] QuanTakeuchi commented on #64
Hi. Is anyone still working on this? Would like to contribute here.

[2018-02-14 04:03] manparvesh opened #74 "Add gif demos"
Since there are many features in yoda, it'll be better to have gif demos in the readme showing all the features.

[2018-02-19 00:56] AntonTymczenko commented on #74
youtube video be better would with some voice explanations :)

[2018-02-21 12:49] manparvesh opened #76 "Stacktrace displayed when adding an invalid expense"
# For bug reporting
## What are the steps to reproduce this issue?
1. Run `yoda money exp`
2. Enter `specdt 30 dollars on icecream`
3. This response will be saved to the expense, but while reading this will show an error.
4. Run `yoda money exps` to show the expense

## What happens?
A stacktrace will be shown

## What were you expecting to happen?
No stacktrace should be shown.

## Implementation

[2018-03-04 07:06] WCollins3 commented on #76
I wasn't able to replicate the issue in the exact way that you did (the word "specdt" didn't seem to break it), but I did look for other entries that could break it (invalid number and currency values). I wrote in checks that should avoid recording information that is invalid based on these two values not being correct. Since the word "specdt" does not seem to be causing the issue (or getting reco

[2018-03-05 00:15] manparvesh commented on #76
@WCollins3 thanks for contributing! 😄

[2018-03-05 00:15] #76 closed

[2018-03-09 04:29] manparvesh opened #79 "colored output not working"
## What are the steps to reproduce this issue?
1. Run any command that uses `chalk` to output

## What happens?
Nothing is displayed

## What versions of software are you using?
**Operating System:**  Ubuntu 16.04

## Suggestions on how to fix
Find a different library to output colored text or just use print statements (in this case, click.echo would be better than print statements)

[2018-03-10 06:02] skcse opened #80 "setup command not working"
For installing yoda as mentioned in 'contribution.md'
# For bug reporting
## the steps to reproduce this issue?
1. $ git clone https://github.com/yoda-pa/yoda
2. $ cd yoda
3. $ virtualenv -p /usr/bin/python2 venv
4. $ . venv/bin/activate
5. $ pip install .
6. $ yoda

## What happens?
1. After install i used a command "yoda chat hi"
it works yeh!
2. then i used a comman "yoda setup new"
this comman

[2018-03-11 12:23] manparvesh commented on #80
@skcse Hi,
Thanks for reporting this. Actually, the text is displayed but it is shown using a colored text, and for some reason the package that I am using for displaying colored text is no longer working. This was realised in #79, so it will be fixed using that issue. I will close this, but thank you for reporting this.
You can see more details for how to fix this issue in #79 and you are welcome

[2018-03-11 12:23] #80 closed

[2018-03-11 13:38] skcse commented on #79
@manparvesh
We can use " click.echo(chalk.red('foo')) " instead of using " chalk.red('foo') ".
Reference--[https://pypi.python.org/pypi/pychalk](Reference)
Using the above code, I have tried on setup.py ( yoda setup new ) that works !!

[2018-03-11 16:13] manparvesh commented on #79
Fixed in #81

[2018-03-11 16:13] #79 closed

[2018-03-14 03:40] manparvesh opened #84 "Fix tests"
## Description
After changing `chalk.<color>` to `click.echo(chalk.<color>)`, some tests are failing because of difference in the outputs

[2018-03-14 04:21] skcse commented on #84
@manparvesh
can you give me the name of some failing tests, so that I can start from that

[2018-03-14 06:03] manparvesh commented on #84
@skcse the test for `speedtest` in `url` module is failing. You can see more details in the travis build: https://travis-ci.org/yoda-pa/yoda
Also, when fixing the tests you can test on your local system using `python setup.py test`

[2018-03-16 09:50] #84 closed

[2018-03-25 14:54] manparvesh commented on #74
@AntonTymczenko yeah, video may be a better option, but I don't have that good of a voice haha. I've added gif demos for now

[2018-03-25 14:54] #74 closed

[2018-03-25 15:07] AntonTymczenko commented on #74
@manparvesh you could outsource it. Write down the text and give it somebody to record. :-)

[2018-03-25 15:10] manparvesh commented on #74
@AntonTymczenko thanks fir the suggestion :) I'll create an issue and if someone is interested, they can create a video for this project

[2018-03-26 05:56] manparvesh opened #85 "Migrate to Python 3"

[2018-03-26 06:44] tirkarthi commented on #85
To add to this. I tried testing it in python 3 using `python setup.py install` and I found some dependencies to be incompatible.

* Unirest - [Github issue](https://github.com/Kong/unirest-python/issues/43)
* poster - Dependency of unirest. [Github issue](https://github.com/JeremyGrosser/python-poster/pull/2)

[2018-03-26 06:51] tirkarthi opened #86 "Pin down version in requirements.txt"
Cool project. It seems that requirements.txt doesn't have pinned version of the libraries and this could result in a build that might behave differently at different points of time since latest versions are always installed. I think it's better to have pinned versions. I tried installing it and did a `pip freeze`. I will raise a new PR.

I could also see different a setup.py that seems to have sli

[2018-03-26 13:32] #86 closed

[2018-03-26 16:36] tirkarthi commented on #85
I have made a fork compatible with Python 3 at https://github.com/tirkarthi/unirest-python . You can use it as a git based dependency. It doesn't work for gzip based files for now. You can find a Python 3 fork for poster at https://github.com/tirkarthi/python-poster.

[2018-03-27 01:48] #85 closed

[2018-03-27 02:06] manparvesh opened #90 "URL shortener not working"
## What are the steps to reproduce this issue?
1. While using Python 2:
  1. Install yoda
  1. Run `yoda url shorten <some url>`. This works fine
  1. RUn `yoda url expand <shortened url>`. Doesn't work
2. While using Python 3:
  1. Install yoda
  1. Run `yoda url shorten <some url>`. Doesn't work

## What happens?
It says command doesn't exist.
The tests are also failing because of this.

## What

[2018-03-28 02:10] kkhsing opened #91 "flashcards select command does not work as described in the docs"
# For bug reporting
## What are the steps to reproduce this issue?
1. $  yoda flashcards sets new english
2. $  yoda flashcards select english

## What happens?
Prints "Command does not exist!"

## What were you expecting to happen?
Select study set and print "Selected study set: english"

## What versions of software are you using?
**Operating System:** …
Ubuntu 16.04

It works perfectly with the

[2018-03-28 14:18] #91 closed

[2018-03-29 14:13] skcse commented on #90
Is the below command is the way to install yoda using python3. if 'yes' then I think 'url shorten' and 'url expand' is working fine
$ python3 -m venv venv3
$ . venv3/bin/activate
(venv3) $ pip install --editable .
![yoda_issues90](https://user-images.githubusercontent.com/18513941/38093557-f884b374-3388-11e8-918f-c796b02b386f.png)

[2018-03-29 16:21] andreapavoni commented on #61
https://rasa.ai might be very useful for this goal. And it’s written in python ;-)

[2018-03-30 07:04] #90 closed

[2018-03-30 07:27] #64 closed

[2018-04-02 15:36] zuziik commented on #5
What is the current state of the issue? Anyone working on that? If this is still open, I'd like to help.

[2018-04-03 02:53] manparvesh commented on #5
@zuziik the issue is still open. You're welcome to contribute!

[2018-04-03 19:16] zuziik commented on #5
Perfect, you can count on me! I will dig into the source code, look around and start working on the issue. I will keep you updated ;)

[2018-04-13 20:51] joeyengel26 opened #96 "Hackernews error when description is None"
## What are the steps to reproduce this issue?

1. $ yoda hackernews

## What happens?
[code]

This only occurs when the description = null (confirmed by crosschecking https://newsapi.org/v2/everything?sources=hacker-news&apiKey=534594afc0d64a11819bb83ac1df4245)

## What were you expecting to happen?

Expected command to continue to run as intended.

## What versions of software are you using?
**O

[2018-05-08 01:31] #96 closed

[2018-05-08 01:50] manparvesh opened #99 "Test failure in speedtest due to server unavailable"
## What are the steps to reproduce this issue?
1. Install `yoda`
2. Run `yoda speedtest`

## What happens?
Stacktrace is shown and it says that server is not found

## What were you expecting to happen?
Get speedtest

## What versions of software are you using?
**Operating System:** Ubuntu 18.04

[2018-05-08 01:59] #99 closed

[2018-05-08 18:40] PrestigeDox opened #101 "Suggestion"
Allow the bot to understand any format of language:

Current:
'yoda speedtest'

New:
'yoda do a speedtest'
'yoda can you please do a speed test'

Current:
'yoda define amazing'

New:
'yoda find the definition for amazing'

Just generally allowing versatility for language.

[2018-05-20 11:47] manparvesh opened #104 "Fix build failure and add README entry for command alias feature"

[2018-05-22 08:29] manparvesh opened #105 "Add external services to README"
Identify the external services that are being used in `yoda` and add them at the end of the `README.md` file

[2018-05-23 07:37] tirkarthi opened #107 "File handler not closed warning"
I came across this warning in Travis builds. It seems the file handle was not closed in the except block. I don't know why it was opened in the first place and just wanted to report here.

[code]

[2018-05-23 10:16] manparvesh commented on #107
@tirkarthi thanks for reporting!

[2018-05-25 12:16] #105 closed

[2018-05-26 02:19] #104 closed

[2018-05-28 05:35] ybfe1853 commented on #71
Hello, I am writing some test cases for the flashcard functionality, but i have a question. Namely with the naming of the sets:

If I try to give the set a name with length of characters larger than 1, i get the error 'the length of the name should not be more than 1', is this the intended functionality? sets cannot have names longer than 1 character? After playing around with the modify function

[2018-05-28 05:42] ybfe1853 commented on #71
Also if it so happens that changed need to be made to the source code, should i open up separate pull requests for the test cases and the actual source code being changed?

[2018-05-28 14:42] stepinski commented on #41
May I take this task?

[2018-05-28 17:11] nabarunchatterjee commented on #8
IMHO the easiest to implement would be AWS s3 for storing configs. For git storage we can ask the user for github repo url and the rest can be taken care of by
 [gitpython](http://gitpython.readthedocs.io/en/stable/)

[2018-05-29 02:56] manparvesh commented on #41
@stepinski sure!

[2018-05-29 03:00] manparvesh commented on #8
@nabarunchatterjee we need the configs to be accessible only by the user, so I think it would be better if we found a way to save in their own account; hence the idea of using git repo as a storage.
I don't know much about `gitpython`, so if you're interested to work on it, I'd be happy to receive an MR!

[2018-05-29 03:06] manparvesh commented on #71
@ybfe1853

I don't recall setting any limit like that :thinking:

If you mean that you want to create a new PR for the fix for restoring the length of set name, then yes. Also, please create an issue with some more details of whatever you found in that issue.

[2018-05-30 00:06] #107 closed

[2018-05-30 03:41] pjz opened #111 "Install for use without having to manually clone the repo"
Pip has had good syntax for directly installing from a git repo for awhile now.  Documenting the usage of it would simplify your user's life.

`virtualenv yodaenv`
`./yodaenv/bin/pip install git+https://github.com/yoda-pa/yoda`

Is a lot less verbose than the previous instructions.

In my case it was even simpler since I use [pipsi](https://github.com/mitsuhiko/pipsi).  I just did
`pipsi install g

[2018-05-30 04:07] manparvesh commented on #111
@pjz Hi Paul,
Thanks for the suggestion! I didn't know about that! Will definitely add these instructions to the README.
I think the first style would be better, since most people won't have `pipsi` installed on their systems and it would add an additional step.

[2018-06-08 15:36] moyamanuel commented on #101
I'm not too familiar with Natural Language Processing, but I believe NLP can help us with this task. Is anyone here familiar with Natural Language Processing?

[2018-06-10 04:05] manparvesh opened #112 "Add better screencasts"
maybe asciinema and then converting to gif

[2018-06-10 04:06] manparvesh opened #113 "Fix build"
## What happens?
Travis build is failing because of the API related to money being stopped.

[2018-06-13 18:48] vccolombo commented on #113
forex-python

As stated in https://github.com/MicroPyramid/forex-python

So it requires to update requirements.txt

I'll open a PR for it

[2018-06-13 23:15] #113 closed

[2018-06-14 16:44] vccolombo opened #115 "Yoda speedtest raising "servers not available" error"
## What are the steps to reproduce this issue?
1. … run yoda speedtest

## What happens?
… Speedtest servers not available

## What were you expecting to happen?
… speedtest to run

## What versions of software are you using?
**Operating System:** …
Ubuntu 18.04

## Notes
[pyspeedtest](https://github.com/fopina/pyspeedtest) has not been updated for 2 years now, and an issue was raised in their rep

[2018-06-14 17:04] vccolombo commented on #115
Also I think modules/dev.py line 42 needs to be changed to
`sys.exit(0)`
for the error to be catch by the tests

[2018-06-14 21:26] vccolombo opened #116 "Yoda diary add notes and tasks outside virtualenv"
## What are the steps to reproduce this issue?
1. … source into venv
2. … run coverage test in a dev build
3. … deactivate from venv
4. ...  yoda diary notes / yoda diary tasks

## What happens?
… The tests add test notes into the diary

## What were you expecting to happen?
… Shouldn't the diary be environment dependable? I mean, if I'm developing a new feature and I want to test it, it adds note

[2018-06-15 14:37] #9 closed

[2018-06-17 00:41] manparvesh commented on #115
@vccolombo thanks for the feedback!
You're right, `sys.exit(1)` should have been used.

[2018-06-17 00:45] manparvesh commented on #116
@vccolombo yes you're right.
I didn't think of that while writing the tests. This also applies while running some other tests, like the ones for `flashcards`, `define` etc.
We need to create dummy data for tests so that the original config is not disturbed.

Regarding your `Enhancement idea`, yes, It's possible to implement that too, but it's not there yet.

[2018-06-17 19:43] zuziik commented on #5
Hey! I submitted an implementation. I will be open to any discussions/improvements.
Will add tests soon.

[2018-06-18 10:04] #5 closed

[2018-06-18 10:05] zuziik opened #119 "Add option to modify/delete existing entries"
## Feature description:
The modules diary, love, flashcards and others allow the user to set/remember something but not change/delete it. All the data are stored in files and are impossible to remove via yoda CLI (only by directly deleting the files).

I would like to see features to change existing data (e.g. a task set with a typo) or clean them (outdated task list).

- diary clean - remove all

[2018-06-18 10:09] zuziik commented on #116
I think all you need to do is to run tests within a test directory and delete the directory afterwards. Since all the data are currently stored in files and there is no option to delete them, running the tests automatically adds garbage data to the local instance.

So before starting the tests, we should create a test subdirectory and change these values accordingly:
YODA_CONFIG_FILE_PATH = os.pat

[2018-06-18 10:17] zuziik opened #120 "Division by zero when diary without any tasks is analyzed"
## What are the steps to reproduce this issue?
1. run `yoda diary analyze` with no tasks set

## What happens?
ZeroDivisionError (when trying to compute percentage of incomplete tasks, it does not check whether total number of tasks equals zero or not)

## What were you expecting to happen?
Print something like "There are no tasks set, add a new task by typing `yoda diary nt`".

## Solution
Just a

[2018-06-18 12:47] #120 closed

[2018-06-19 14:58] Ravi-0809 commented on #115
Pull request submitted. Please verify.
Pull request #123

[2018-06-20 01:37] #115 closed

[2018-06-22 08:15] Man-Jain commented on #51
@manparvesh, I would like to work on this issue.

[2018-06-22 10:08] manparvesh commented on #51
@Man-Jain sure, I'm open to receiving PRs

[2018-06-25 19:39] Man-Jain commented on #51
@manparvesh In which should this feature be implemented.

Will it be a improvement of the already present note feature in the diary module or a new function in some other module will be created?

[2018-06-26 01:15] manparvesh commented on #51
@Man-Jain it will be a improvement of the already present note feature in the diary module

[2018-06-26 01:17] manparvesh commented on #119
@Man-Jain you can check where the diary entries are saved in the config folder and delete them when these commands are invoked.

[2018-06-26 05:47] Man-Jain commented on #119
@manparvesh I was thinking about first giving the user a list of all the dates having tasks and then on choosing the date he will get a list of tasks on that day which he could either delete or update.
And similarly with notes.

[2018-06-26 05:49] Man-Jain commented on #51
@manparvesh Okay I am working on it.

[2018-06-26 07:38] manparvesh commented on #119
@Man-Jain :+1:

[2018-06-27 02:57] manparvesh opened #125 "Package project"
upload to `pypi`

[2018-06-27 10:05] #51 closed

[2018-06-28 10:10] #119 closed

[2018-06-29 03:21] karuvally opened #127 "Yoda crashes when trying to chat under Python 3"
## What are the steps to reproduce this issue?
1. Create Virtualenv with Python 3
2. Install Yoda using pip install .
3. Run "yoda chat <random_string>"

## What happens?
The program crashes https://gist.github.com/karuvally/0fd2fc18bfa8b2f47c6b9f82f566872c

## What were you expecting to happen?
A proper reply from the chatbot

## What versions of software are you using?
**Operating System:** Debi

[2018-06-29 04:11] manparvesh commented on #127
@karuvally thanks for the bug report! Judging from the stacktrace, it seems that a simple check would fix this issue.

[2018-06-29 06:42] karuvally commented on #41
I have created a pull request which adds the ability to see yesterday's notes and tasks

[2018-06-29 23:56] jekoff commented on #127
If You don`t mind I will try to solve this problem!

[2018-06-30 00:12] manparvesh commented on #127
@jekoff sure! I'd be happy to receive a PR

[2018-06-30 00:15] #41 closed

[2018-06-30 00:17] manparvesh commented on #101
This will be handled in #61
So I'm closing this issue

[2018-06-30 00:17] #101 closed

[2018-06-30 00:44] jekoff commented on #127
@manparvesh I also find the same problem in food module. Should i create a new issue and then fix it there?

[2018-06-30 01:40] jekoff opened #131 "Yoda crashes when trying to run suggest_drinks"
## What are the steps to reproduce this issue?
1. Create Virtualenv with Python 3
2. Install Yoda using pip install .
3. Run "yoda food suggest_drinks"

## What happens?
The program crashes https://gist.github.com/jekoff/85eee55f03151fb5838c2d80f975ffee

## What were you expecting to happen?
yoda should return a drink recipe for suggest_drinks command

## What versions of software are you using?
*

[2018-06-30 02:31] #127 closed

[2018-06-30 02:33] manparvesh commented on #131
@jekoff thanks for reporting!
The tests were passing, but I think we need thorough tests for problems like this.

[2018-06-30 03:05] jekoff commented on #131
@manparvesh actually travis CI show me the error when i did the previous PR, and now it show that everything is ok... Hm...

[2018-06-30 03:09] manparvesh commented on #131
@jekoff yeah, I saw that too. But then I reran your PR build and everything worked fine. Probably some problem with the service

[2018-06-30 09:07] jekoff opened #133 "yoda chat inspire doesn`t work"
## What are the steps to reproduce this issue?
1. run yoda chat inpires with python3

## What happens?
yoda crashes https://gist.github.com/jekoff/07545a3a59ae13637cc87292bf44cbe0

## What were you expecting to happen?
get a random quote

## What versions of software are you using?
**Operating System:** elementary OS 0.4.1
**Python Version:** 3.5.2

[2018-06-30 11:11] #131 closed

[2018-06-30 11:12] manparvesh commented on #133
@jekoff thanks for the report.
I guess the project became too big too quickly and a lot of things may be unstable :sweat:

[2018-07-01 23:31] #133 closed

[2018-08-21 06:24] tsehori opened #135 "Google url shortener is being replaced"
## Feature description:
The Google url shortener service is being [transitioned to FDL](https://developers.googleblog.com/2018/03/transitioning-google-url-shortener.html). Indeed there is some time until the transition is complete (March 2019) but I guess it's better to mention early on.

## Any ideas on how to implement it?
Either switch to a different url shortener or use the [FDL APIs](https://

[2018-08-27 18:51] divyamsingh13 commented on #135
@manparvesh To make this transition FireBase API key will be required.

[2018-09-10 10:12] manparvesh commented on #135
Fixed in #136

[2018-09-10 10:12] #135 closed

[2018-09-21 06:42] manparvesh opened #137 "Potential security vulnerability in one of the dependencies"
According to Github, one of the dependencies used, `pycrypto`, contains a potential security vulnerability. So, it is better to upgrade the version used in this package to the latest one

[2018-09-21 06:52] manparvesh commented on #137
The latest version of this dependency is not there in `pypi`, so it can't be upgraded. Hence, closing this issue

[2018-09-21 06:52] #137 closed

[2018-10-01 15:28] manparvesh opened #140 "Recipe suggestion"
## Feature description:
As a part of the food module, suggest random recipes

## Any ideas on how to implement
1. For a beginning point, one can use a public API to get a random recipe every time
1. On top of that, one can also add some filters, if possible, based on the user's interests

[2018-10-01 15:33] manparvesh opened #141 "Document IP lookup feature"
The `iplookup` command finds the location of an IP address you input. This was contributed in the PR: #139.

**Things to be added:**
- [ ] update readme with the command and a typical output
- [ ] update README to add LICENSE for the use of the database

[2018-10-01 15:36] manparvesh opened #142 "Restaurant suggestions"
## Feature description:
The user should be able to get restaurant suggestions for the locations they input, with links.

## Any ideas on how to implement it?
An external API can be used

[2018-10-01 15:40] manparvesh opened #143 "Compile code in any language without installing compiler"
## Feature description:
The user should be able to compile their code written in any programming language without installing a compiler for the language.

## Any ideas on how to implement it?
- Online API's like that provided by HackerEarth can be used.
- example implementation: [ComIt](https://github.com/imshyam/ComIt)

[2018-10-01 15:50] slin63 commented on #142
I'd like to take this

[2018-10-01 15:50] manparvesh opened #144 "Development environment setup"
## Feature description:
The user should be able to setup a sample development environment that would include basic things required for development like some compilers, dotfiles, etc.

## Any ideas on how to implement it?
- We should have a list of some common things for different operating systems
- For each OS, when this command is called, the user should get a prompt before installing each packa

[2018-10-01 15:53] manparvesh opened #145 "Command keeper"
## Feature description:
This is different from command aliases. This is just a simple list of shortcuts that the user can save for their commands and can search for the shortcuts using keywords.

[2018-10-01 15:54] manparvesh commented on #142
@slin63 sure :+1:

[2018-10-01 15:54] slin63 commented on #141
I can take this also,

[2018-10-01 15:57] manparvesh opened #146 "Add custom commands"
## Description
This is a command to create new commands!

The user should be able to set a custom command, for example `ls` inside yoda, to call the actual `ls`.
The user would then be able to call this command using `yoda ls`, which would further call the inbuilt `ls` in unix based systems

[2018-10-01 15:59] manparvesh commented on #141
@slin63
Sure! I'd be glad to accept your PR!

[2018-10-01 16:02] manparvesh opened #147 "Github daily summary"
The user should be able to get a summary of their activity on GitHub, including their commits, issues, PRs, etc. One can use the GitHub API for this.

[2018-10-01 16:04] manparvesh opened #148 "images to ascii art"
## Feature description:
Convert an image to ascii art

## Example implementations on the internet
- https://www.hackerearth.com/practice/notes/beautiful-python-a-simple-ascii-art-generator-from-images/
- https://gist.github.com/cdiener/10491632

[2018-10-01 16:08] manparvesh opened #149 "Search text/files in directory"
## Feature description:
Although we can't do better than the good old `grep`, I think this would be a great learning project for someone willing to do it. A simple implementation would be acceptable too.

[2018-10-01 16:11] manparvesh opened #150 "cipher implementations"
## Feature description:
This can be another learning project for someone interested in cryptography. The user should be able to encrypt and decrypt text using different ciphers.

- [x] add ciphers
- [x] add tests for ciphers
- [x] add README entry

[2018-10-01 16:15] manparvesh opened #152 "set reminders"
## Feature description:
The user should be able to set reminders.

## Any ideas on how to implement it?
For Ubuntu, [py-notify](https://pypi.org/project/py-notify/0.3.1/) can be used. Not sure about other operating systems

[2018-10-01 16:15] DragonGhost7 commented on #148
Interesting it is, will do it I

[2018-10-01 16:17] manparvesh commented on #148
@DragonGhost7
Sure! I'd be glad to receive your PR!

[2018-10-01 16:19] manparvesh opened #153 "site up checker"
To check if a website is up or not

[2018-10-01 16:20] manparvesh opened #154 "whois search"
whois information for a domain name, if that is something that can be fetched using some API. I have not explored this.

[2018-10-01 16:22] manparvesh opened #155 "watermark applier"
## Feature description:
The user should be able to specify a watermark file and the locations at which it should be placed for all files, the input folder, and output folder

[2018-10-01 16:23] manparvesh opened #156 "GIF creator (from images or video)"

[2018-10-01 16:23] manparvesh opened #157 "mp3 cutter"

[2018-10-01 16:26] manparvesh opened #158 "README Table Of Contents creator"
There are many implementations for this, and can be taken up as a learning task. One can take other implementations as a reference or use an external library for this purpose.

[2018-10-01 16:28] manparvesh opened #159 "lease list"
Keep a list of all the things that you have lent to/from people.

[2018-10-01 16:31] manparvesh opened #161 "People manager"
## Feature description:
The user should be able to save profiles of people and related information, like their birthdays, likes, and some personalized notes for them. Inspired by: https://www.monicahq.com/

[2018-10-01 16:31] amit2020cs commented on #158
Please assign me this issue

[2018-10-01 16:31] slin63 commented on #141
PR Here: https://github.com/yoda-pa/yoda/pull/160

[2018-10-01 16:33] theishshah commented on #159
Would like to take on this issue

[2018-10-01 16:34] vsag96 commented on #152
Can we use celery? But the downside to that is that it's only Linux compatible?

[2018-10-01 16:34] manparvesh opened #162 "Money manager"
## Feature description:
Currently, the `money` module contains saving expenses. But there can be many enhancements to this module:
- [ ] better output of past expenses
- [ ] expenses per month
- more ideas welcome!

[2018-10-01 16:35] slin63 commented on #140
I can take this.

[2018-10-01 16:36] siejqa commented on #147
I'd like to work on this :smile:

[2018-10-01 16:41] Rukenshia commented on #162
Hey, I'd like starting on the better output portion. Any idea how you want it to look like?

[2018-10-01 16:50] dedifferentiator commented on #156
So what's the exact problem?
The project is attractive to me and looks interesting.

[2018-10-01 16:55] hargoniX commented on #150
I'd like to implement a few ciphers for this.

[2018-10-01 17:11] V1NAY8 commented on #150
I am ready to contribute ciphers..
Is there a list which are to be added.
Or shall Contribute any of the cipher?

[2018-10-01 17:47] DragonGhost7 commented on #148
Done, please check #169

[2018-10-01 18:10] Thelta commented on #157
I would like to take this issue.

[2018-10-01 18:27] meanmachin3 commented on #144
How about setting up Docker ?

[2018-10-01 18:50] Abelarm commented on #162
is it ok if i work on the expenses per month?

[2018-10-01 19:29] DragonGhost7 commented on #148
Hello @manparvesh,
I made the feature, but my coverage tests are failing.
Being kinda new to code coverage, i though it would happen.
How would i write coverage for newly added features?
If you could help would be nice.

[2018-10-01 20:50] athulpn commented on #154
I would like to work on this issue. And yes there is an API available for it.

[2018-10-01 21:59] cyberlis commented on #143
I would like to take this issue.

[2018-10-02 01:29] manparvesh commented on #143
@cyberlis
Sure! I'd be glad to review your PR!

[2018-10-02 01:30] manparvesh commented on #154
@athulpn Sure! I'd be glad to review your PR!
Simply showing the whois info should be fine

[2018-10-02 01:33] manparvesh commented on #148
@DragonGhost7 you will need to write some tests for the command you added. You can take a look inside the tests folder to get an idea of how to write tests.

[2018-10-02 01:35] manparvesh commented on #162
@Rukenshia if you've tried the command, currently it simply shows a list of expenses with a currency, the thing you spend money on, etc. I think a simple table would be acceptable too.

[2018-10-02 01:35] manparvesh commented on #162
@Abelarm
Sure! I'd be glad to review your PR!

[2018-10-02 01:36] manparvesh commented on #144
@meanmachin3 that'll be helpful too!

[2018-10-02 01:37] manparvesh commented on #157
@Thelta
Sure! I'd be glad to review your PR!

[2018-10-02 01:38] manparvesh commented on #150
@hargoniX @V1NAY8 you can take a look at this list and contribute any cipher you like:
http://practicalcryptography.com/ciphers/classical-era/

[2018-10-02 01:40] manparvesh commented on #156
@dedifferentiator

Thanks!

There's no problem in the project, this is a new feature in which one can create GIF animations from a set of images or a video

[2018-10-02 01:41] manparvesh commented on #147
@siejqa
Sure! I'd be glad to review your PR!

[2018-10-02 01:41] manparvesh commented on #140
@slin63
Sure! I'd be glad to review your PR!

[2018-10-02 01:42] manparvesh commented on #152
@vsag96
Sure! I'd be glad to review your PR!
I think for now linux can be targeted and support for Windows can be added later on.

Also, please look if it is possible to use an alternative that is universally compatible

[2018-10-02 01:43] manparvesh commented on #159
@theishshah
Sure! I'd be glad to review your PR!

[2018-10-02 01:44] manparvesh commented on #158
@amit2020cs
Sure! I'd be glad to review your PR!

[2018-10-02 02:10] #149 closed

[2018-10-02 05:19] Lightyagami1 commented on #144
you can also look at nix [https://nixos.org/nix/](url)

[2018-10-02 08:14] manparvesh opened #174 "Add horoscope functionality"

[2018-10-02 08:15] #174 closed

[2018-10-02 08:58] manparvesh opened #176 "Document grep command"
The feature was implemented in #173, but no documentation was added.
Add the following information regarding this command to README:
- [ ] how to use this command

[2018-10-02 09:04] vVv-AA commented on #176
Sorry. I will add it.

[2018-10-02 09:20] vVv-AA commented on #176
https://github.com/yoda-pa/yoda/pull/177

[2018-10-02 13:34] #176 closed

[2018-10-02 15:46] strotgen commented on #155
I would like to make this. I would use a Python package for this, is this okay?

[2018-10-02 17:50] V1NAY8 commented on #150
# Ready with a cipher should check functionality
## What files are to be edited
- Create cipher.py in  modules folder
- in yoda.py adding its own function
and ??
- Shall I fork and create a branch and then make pull request???

[2018-10-02 19:54] hargoniX commented on #150
My PR, does (as mentioned in it too) not add all the ciphers, once this gets merged anyone else can add his own ciphers on top of it.

[2018-10-03 01:06] manparvesh commented on #155
@strotgen using a Python package is acceptable :+1:

[2018-10-03 01:08] #141 closed

[2018-10-03 01:16] #153 closed

[2018-10-03 01:18] manparvesh opened #179 "Document site checker function"
As implemented in #172

[2018-10-03 01:28] #111 closed

[2018-10-03 03:57] h93xV2 commented on #179
I will do this

[2018-10-03 09:15] AlexandruValeanu commented on #146
May I take this?

[2018-10-03 12:54] c-shekhar commented on #179
Hey @manparvesh!
If you are planning to update readme then, I can take this as I have gone through the function and have got the logic.

[2018-10-04 00:04] manparvesh commented on #179
@c-shekhar :+1:

[2018-10-04 00:34] #179 closed

[2018-10-04 06:29] c-shekhar commented on #161
Hey @manparvesh, I am working on this issue.
Will be raising PR by today or tomorrow.

[2018-10-04 07:04] manparvesh commented on #161
@c-shekhar :+1:

[2018-10-04 10:14] Lightyagami1 commented on #144
I would love to work on it, if nix is way to go.

[2018-10-04 13:59] manparvesh commented on #144
@Lightyagami1 if it's possible using nix, then sure! I'd be glad to receive your PR!

[2018-10-05 00:48] #156 closed

[2018-10-05 14:12] siejqa commented on #147
@manparvesh
I've submitted a PR for you to review - PR #185  - it's still missing tests and documentation update, but wanted to know if it needs any major rework :). I decided to use the pyGithub library as it was already included in the _requirements.txt_.

[2018-10-05 14:55] manparvesh commented on #147
@siejqa judging solely from the code can be difficult, but I think when you add some tests I would be able to understand better. I took a quick look and the code looks fine to me

[2018-10-06 09:07] Lightyagami1 commented on #144
Can you give further details to what exactly comes under the scope of this feature?

[2018-10-07 09:15] Khukhuna commented on #157
Hello  :smile:

can i work on this issue? It's been 6 days since last comment. :smiley_cat:
if yes, can i use [**pydub**](https://github.com/jiaaro/pydub) library? :fire:

[2018-10-07 09:16] manparvesh commented on #157
@Khukhuna sure :smile:

[2018-10-07 09:29] manparvesh opened #189 "People manager beautify output"
Current output structure: https://github.com/yoda-pa/yoda#people
Feature added in: #184

### Things to improve
- [ ] `yoda people status` command should show a structured output instead of json
- [ ] update error message when likes not exist: [code](https://github.com/yoda-pa/yoda/blob/master/modules/people.py#L200)
- [ ] update error message when notes do not exist: [code](https://github.com/yoda

[2018-10-07 09:35] c-shekhar commented on #189
@manparvesh, looks like small updates. Taking this on!

[2018-10-07 11:17] Khukhuna commented on #157
can i add simple **.mp3** file in **/resources** folder for tests :question: :smile: I can't think of any other way to test this functionality.

[2018-10-07 11:40] manparvesh commented on #157
@Khukhuna sure, you can add 2 or 3 mp3 files to test!

[2018-10-07 12:19] #189 closed

[2018-10-08 01:33] #157 closed

[2018-10-09 03:40] #148 closed

[2018-10-10 06:57] Khukhuna opened #192 "mp3cutter | Terminal throws error when given start point is greater than song length."
**Module:** dev
**Command:** mp3cutter
Terminal throws error when given start point is greater than song length.

<img src="https://user-images.githubusercontent.com/37747169/46717893-7ec95400-cc7a-11e8-9d60-2436f6ddf452.png" width=50%>

## What are the steps to reproduce this issue?
1. Install yoda
2. run ```yoda dev mp3cut "path/to/music.mp3" 5000 10 ```

## What happens?
Terminal throws error w

[2018-10-10 06:59] Khukhuna commented on #192
Sorry, I forgot these safe-checks when i implemented mp3cutter command :cry:
I'd like to work on this issue.

[2018-10-10 07:52] manparvesh commented on #192
@Khukhuna it's okay, thanks for reporting and providing a solution!

[2018-10-10 07:52] #192 closed

[2018-10-10 08:08] cyberlis commented on #143
Sorry, I don't have enough time to make this feature. Maybe, somebody else can take it.

[2018-10-11 09:57] Lightyagami1 commented on #144
@manparvesh nix will need cywin to work on windows, i hope it's not a stopper for going with nix ?

[2018-10-11 14:18] Khukhuna commented on #154
Can I use BeautifulSoap to scrape the **https://www.whois.com/whois/** ? Because there is no free API that we can use :confused: If there is, please let me know :smiley:

[2018-10-12 09:57] c-shekhar commented on #60
@manparvesh, I am starting to work on this.
Starting with first two points in feature description.

[2018-10-13 10:27] prideloki commented on #71
Hi @manparvesh, i would like to contribute on adding test to ideas feature.

[2018-10-13 10:29] Khukhuna commented on #154
@manparvesh

[2018-10-13 12:12] csaranbalaji commented on #143
I would like to take this issue.

I tried to run the code through hackerearth client which is given [here](https://www.hackerearth.com/docs/wiki/developers/v3/). Unfortunately the response was
`{
  u'run_status': {
    u'status': u'CE',
    u'status_detail': u'Correct the compilation/syntax errors.'
  },
  u'code_id': u'3f9b8et',
  u'web_link': u'https://code.hackerearth.com/3f9b8et',
  u'compile_

[2018-10-14 03:10] manparvesh commented on #71
@prideloki
Sure! I'd be glad to review your PR!

[2018-10-14 03:13] manparvesh commented on #154
@Khukhuna sorry for late reply, I got busy.
Did you try this API? It seems usable in our case: https://www.domaintools.com/resources/api-documentation/whois-lookup/

[2018-10-14 09:39] Khukhuna commented on #154
You need to sign up on website to get data from that API, which costs $99/mo.

[2018-10-14 09:43] manparvesh commented on #154
@Khukhuna oh okay. Then I guess your approach would be better.
And thanks for your interest in the project :smile:

[2018-10-16 04:58] manparvesh opened #200 "File Share"
User can share files directly from their terminal.

[2018-10-16 04:58] #200 closed

[2018-10-16 07:20] csaranbalaji opened #202 "Dictionary implementation in learn module."
## Feature description:
Dictionary implementation in learn module. User can give a word and ask for synonyms, antonyms, examples, definitions or rhymes for that word.

## Any ideas on how to implement it?
Make the current implementation of the command ```yoda define``` generic such that it can be used to get synonyms, antonyms, examples or definitions for that word.

- Make the API call according

[2018-10-16 09:11] meanmachin3 commented on #144
I have setup a minimal environment on my local.

[code]

You run it using `docker run --rm -it --name yoda yoda:latest yoda chat Hello`

[2018-10-17 04:51] csaranbalaji opened #205 "Yoda Music Lyrics 🎼"
## Feature description:
Yoda Music Lyrics. Given the album artist and title, yoda will be able to give the lyrics of that song.

## Any ideas on how to implement it?
- Introduce a new file ```entertainment.py``` in modules folder.
- add a module called ```music``` in ```entertainment.py``` and add the command for yoda.
- use [lyricsovh API](https://lyricsovh.docs.apiary.io/#reference/0/lyrics-of-a

[2018-10-18 09:55] csaranbalaji commented on #143
The hackerearth API issue is fixed now. I'll proceed with it.

[2018-10-20 03:10] manparvesh opened #209 "Setup docker for yoda"
Let's create a containerized option for users to test `yoda` without disturbing their development environment. Below is a minimal environment suggested by @meanmachin3:
[code]
To run this, use: `docker run --rm -it --name yoda yoda:latest yoda chat Hello`

Some improvements that could be incorporated to his solution:
- [ ] add option to use different Python versions

[2018-10-20 03:11] manparvesh commented on #144
@meanmachin3 The issue is related to setting up a complete development environment on your system after installing `yoda`.
However, your idea seems good too. I have created a different issue for this: #209 let's discuss there.

[2018-10-20 03:14] #202 closed

[2018-10-20 03:17] #205 closed

[2018-10-20 03:18] #154 closed

[2018-10-20 03:40] manparvesh opened #210 "Fix code compile and run command for Python 3"
Tests failing for Python 3, but okay for Python 2.
Previous issue: #143
Pull Request in which the command was added: #208

[2018-10-20 03:41] manparvesh commented on #143
Continuing this issue in #210

[2018-10-20 03:41] #143 closed

[2018-10-20 10:05] #210 closed

[2018-10-20 13:30] sr6033 opened #212 "RuntimeWarning: Couldn't find ffmpeg or avconv - defaulting to ffmpeg, but may not work"
## What are the steps to reproduce this issue?
1. Followed the install steps in CONTRIBUTING.md to install yoda.

## What happens?
![image](https://user-images.githubusercontent.com/15799589/47256233-fd539c00-d499-11e8-8a63-b2a1bd38c807.png)

## What versions of software are you using?
MacOS High Sierra

[2018-10-20 14:05] sr6033 commented on #209
I will see if I can add that.

[2018-10-20 15:01] manparvesh commented on #212
@sr6033 can you try installing `libav-tools` to your system?

[2018-10-22 06:31] JRodDynamite commented on #158
Hey @manparvesh could you please elaborate what exactly you want achieved here?

[2018-10-23 03:50] manparvesh commented on #158
@JRodDynamite in this command, the user should be able to create a table of contents inside a markdown file.

[2018-10-23 03:55] #60 closed

[2018-10-23 05:09] sr6033 commented on #212
Thanks @csaranbalaji

[2018-10-23 05:09] #212 closed

[2018-10-23 06:00] sr6033 commented on #209
@manparvesh Do you need it completely dockerized and uploaded in the public hub?

[2018-10-23 08:01] manparvesh commented on #209
@sr6033 it would be okay if only the docker configuration is added. Regarding uploading to docker hub, I will do that. I have already created a repo for this project (https://hub.docker.com/r/yodapa/yoda/) and will push to it once docker config is added.

[2018-10-23 20:04] thornycrackers opened #216 "Proposal: Use black for code formatting/linting"
Hello!

I see that there are quite a few hacktoberfest issues out for the repo and there are quite a few people interested in contributing to the project. I was wondering if having a consistent code style across the project would be a valuable to the project and if so I would propose using black:

https://github.com/ambv/black

Or if others would like to propose a different styling that would be g

[2018-10-24 09:01] manparvesh commented on #145
@Erawpalassalg sure, I'd be glad to receive your PR :slightly_smiling_face:

[2018-10-24 09:01] manparvesh commented on #159
@moyamanuel I don't think he is, so you can!

[2018-10-24 09:03] manparvesh commented on #216
@thornycrackers that's a great idea!

[2018-10-25 03:34] taniaReyesM commented on #162
I added a summary of the expenses in the year
![captura de pantalla 2018-10-24 a la s 22 31 45](https://user-images.githubusercontent.com/32681477/47474494-cdc7cb00-d7dc-11e8-9ed7-cab7a23d3d79.png)
@Rukenshia are you still working in the output of past expenses? I can help with that one too

[2018-10-25 13:16] mondaini commented on #216
@manparvesh may I have this?

[2018-10-26 13:52] Rukenshia commented on #162
@taniaReyesM no I'm afraid other things got in the way. Feel free to pick up my slack, thanks!

[2018-10-27 00:42] thornycrackers commented on #144
This can be closed

[2018-10-27 00:43] thornycrackers commented on #209
This can be closed

[2018-10-27 07:35] manparvesh commented on #209
@thornycrackers this issue is open because the `option to use different Python versions` is still pending

[2018-10-27 07:37] manparvesh commented on #144
@thornycrackers this issue is different. I updated the description since it was causing a lot of confusion.

[2018-10-27 14:46] mondaini opened #223 "DRY Violations"
## Feature description: Refactoring: Remove DRY Violations
The project has some duplicated pieces of code. In the long run, it drags maintenance speed and may help introduce new bugs.

## Any ideas on how to implement it?
Refactoring, using the DRY Principle

# Casual questions
## Any other comments?
Should be done preferably code already covered by unit tests.

[2018-10-29 10:08] #216 closed

[2018-10-29 13:48] manparvesh commented on #150
Anyone who is interested in contributing to this issue can take a look at the unchecked tasks in the issue description. Some cipher implementations were added to the project in #178, but more implementations are welcome too!

[2018-11-06 09:18] kapurm17 commented on #152
Hey , this is Mayank Kapur.
I just noticed this issue, and i want to know what kind of a reminder are we exactly expecting :
A. a simple text on the terminal, or
B. something fancy ,if so, what?

P.S :- I'm new to Git and this is my first project , so please spare me in case these questions are something that might be obvious to experienced developers!

Cheers! :)

[2018-11-11 07:54] #147 closed

[2018-11-20 04:38] manparvesh opened #233 "Update requests version"
As alerted by Github

[2018-11-20 04:39] #233 closed

[2018-11-22 12:47] sarathsoma commented on #8
@manparvesh IMHO we can use [Drive API](https://developers.google.com/drive/api/v3/appdata) to store the appdata privately in the user's google drive and use oauth to sync the settings across devices. Could be a good starting point for using yoda on android devices ( if someone hacks in to develop an app on top of yoda!)

[2018-11-23 08:01] manparvesh commented on #8
@sarathsoma that seems like a good idea!

[2018-11-23 09:06] thee-engineer commented on #8
GitHub Gists would also be a possible solution or simple "pastebin" style platforms. There are plenty of options for cloud storage these days and especially for config storage. The more implementations and the more options the user has, the better.

[2018-12-04 15:47] prateek3255 commented on #142
Can I work on this?

[2018-12-04 16:01] prateek3255 commented on #142
I guess the [Zomato API](https://developers.zomato.com/api) would be best suited for this purpose.

[2018-12-05 08:09] durgaswaroop commented on #223
@mondaini Do you already have a few places in mind or should I just look around the code base for duplicates?

[2018-12-10 10:15] manparvesh opened #236 "Update issue templates"
Examples: https://github.com/kubernetes/kubernetes/tree/master/.github/ISSUE_TEMPLATE

[2018-12-10 15:14] IceCereal commented on #236
@manparvesh do you want it to be the same 4 templates as the ones in the link? If not, could you list down the templates you want?

[2018-12-17 03:05] #236 closed

[2018-12-17 03:09] manparvesh opened #238 "Update urllib3 version"
**What would you like to be added**: Update version of the library being used

**Why is this needed**: Alerted by GitHub

[2018-12-17 03:18] #238 closed

[2018-12-19 13:27] ArthurCueio opened #241 "Load modules only when they are called"
**What would you like to be added**:
Load the necessary modules (utils, config, setup, etc...) when yoda starts. And load the modules that contains the commands only when that command is called
**Why is this needed**:
This will make yoda load faster.
When trying to run "yoda" on a low end laptop the delay between the time enter is pressed and the help message shows up is on average 7 seconds. When

[2019-01-11 18:49] #112 closed

[2019-01-20 08:05] groovychoons commented on #159
Did @moyamanuel get anywhere with this? If not I'd like to give it a go.

[2019-01-20 08:18] manparvesh commented on #159
@groovychoons sure go ahead

[2019-01-20 11:09] groovychoons commented on #53
I had this same issue, and managed to fix it by adding `create_folder(LIFE_CONFIG_FOLDER_PATH)
` after
`# config file path
LIFE_CONFIG_FILE_PATH = get_config_file_paths()["LIFE_CONFIG_FILE_PATH"]
LIFE_CONFIG_FOLDER_PATH = get_folder_path_from_file_path(LIFE_CONFIG_FILE_PATH)
`
as I saw `create_folder()` was used in the alias section, which was working well for me.
Perhaps this could be added as a

[2019-01-20 11:29] groovychoons opened #249 "Reading List Documentation"
**What would you like to be added**:
Documentation for the reading list feature.

[2019-01-20 15:36] manparvesh commented on #53
@groovychoons thanks for pointing it out! I will reopen this issue and you or anyone interested can create a PR for this.

[2019-01-20 15:38] manparvesh commented on #249
@groovychoons thanks for this, I had no idea that the documentation was missed!

[2019-01-20 15:43] manparvesh commented on #241
@ArthurCueio thanks a lot for reporting this! Would be happy to receive a PR if anyone is interested.

[2019-01-21 01:16] groovychoons commented on #53
Have submitted a pull request with the fix mentioned earlier :)

[2019-01-23 08:57] groovychoons commented on #159
I've submitted a pull request with this feature.

[2019-01-23 11:51] groovychoons commented on #159
#251

[2019-01-26 06:09] #159 closed

[2019-01-28 14:44] #145 closed

[2019-01-28 15:01] #146 closed

[2019-02-07 20:54] ArthurCueio commented on #241
This issue could also be more easily addressed by moving some code that runs when modules get imported to inside a setup method or something similar. And call that when the command is called.

[2019-03-11 08:03] manparvesh opened #254 "Mock external services in tests"
**What would you like to be added**: For external services, we should be mocking the services instead of using the actual URLs.

**Why is this needed**:
-  External services are slow
- They are unpredictable

[2019-03-14 02:14] muzz1497 opened #256 "Importerror: bs4 not found"
**What happened**:
I forked yoda. I created a virtualenv and installed pip editable and everything was successful. When I type yoda I get:

ImportError: No module named bs4

**What you expected to happen**:
Yoda to start

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Yoda version (use `yoda version`):  0.40
- OS (e.g. fro

[2019-03-16 00:05] dremok opened #257 "test_mp3cutter fails due to missing resource"
**Which test(s) are failing**:
test_mp3cutter

**Since when has it been failing**:

**Testgrid link**:

**Reason for failure**:
The file `test_cropped.mp3` is missing from `yoda/resources/`

**Anything else we need to know**:

/kind failing-test

[2019-03-18 07:51] manparvesh commented on #257
Hi @dremok,
How are you running the test? That file is generated during the test and deleted later so this should not be a reason for test failure.

[2019-03-18 10:29] dremok commented on #257
@manparvesh
Hi!
I just run them like this: `python -m unittest discover -s tests`
Also tried running from PyCharm with the same results.

[2019-03-19 13:33] FelipeFin commented on #254
Hey, I started to work on that and will submit my PR soon. Okay?

[2019-03-20 14:40] manparvesh commented on #254
@FelipeFin sure!

[2019-04-08 13:03] jrbr commented on #241
Hello, I would be happy to begin work on this

[2019-04-13 06:09] #254 closed

[2019-04-19 03:18] #241 closed

[2019-04-22 03:05] #150 closed

[2019-04-29 19:53] rogervieiraa opened #265 "Add math equations solver"
**What would you like to be added**: I would like to add an enhancement that makes yoda solver math equations like this:
- 5 power 3 -> yoda should return "125"
- 3 * 3 = 7 -> yoda should return "False 9 != 7"

**Why is this needed**: Yoda is personal assistant, and will help people with simples or complex math equations, and will be a good way to me get my first commit on this repository.

What d

[2019-04-30 11:17] rogervieiraa commented on #265
Working on this feature

[2019-04-30 15:38] rogervieiraa opened #266 "Error installing ioda package urllib3"
**What happened**: when I do the install to the venv, I'm getting an error in one package: urllib3
ERROR:
[code]
When I try to execute yoda getting this error:
[code]

**What you expected to happen**: install yoda

**How to reproduce it (as minimally and precisely as possible)**: https://github.com/yoda-pa/yoda/blob/master/.github/CONTRIBUTING.md standard way to install

**Anything else we need to

[2019-05-01 03:30] meanmachin3 commented on #209
Do you want python support for every version or ability to be able to switch between python2 and python3 works ?

We can pass an ENV variable using `-e PYTHON_VERSION='3.6'` and then using an apline image, we can dynamically load a python version specified in ENV. I can take this up if no one else is working on it

[2019-05-01 03:41] meanmachin3 commented on #209
Not really sure if we need to support python2. We could focus only on python3 since python2 will be not be maintained from 2020.

[2019-05-01 06:50] manparvesh commented on #209
@meanmachin3 you're right. I guess we don't need this issue. Closing it.

[2019-05-01 06:50] #209 closed

[2019-05-02 02:47] #140 closed

[2019-05-02 02:53] manparvesh commented on #266
@rogervieiraa I guess we just need to upgrade `requests` versions

[2019-05-02 02:55] #266 closed

[2019-05-02 02:56] manparvesh commented on #256
@muzz1497 this should be fixed now. Please try again. If not fixed, I would suggest using Python 3. I am closing this issue for now

[2019-05-02 02:56] #256 closed